<h1>Test Questions</h1>

<p>
  <%= link_to 'Новй вопрос', new_test_question_path %>
</p>

<table>
  <% @test.questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td><%= link_to 'Просмотр', test_questions_path(@test) %></td>
      <td><%= link_to 'Редактирование', edit_question_path(question) %></td>
      <td><%= link_to 'Удалить', question_path(question), method: :delete,
        data: { confirm: 'Вы уверены?' } %>
    </tr>
  <% end %>
</table>

<%= link_to 'Назад', test_path(@test) %>
