<h2><%= @question.test.title %> Question</h2>

<p>
  <%= @question.body %>
</p>

<h3>Answers</h3>

<%= link_to 'Новй ответ', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Редактировать', edit_question_path(@question) %>
<%= link_to 'Назад', test_path(@question.test) %>
