<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
   <%= form.label :badge_image %><br>
    <%= form.text_field :badge_image %>
  </p>

  <p>
    <%= form.label :rule %><br>
    <%= form.select :rule, options_for_select(Badge.rules) %>
  </p>

  <p>
    <%= form.label :parameter %> <br>
    <%= form.text_field :parameter %>
  </p>

  <p><%= form.submit %></p>
<% end %>
