<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <b><%= t('.result') %></b>
  <b class="<%= result_view(@test_passage) %>">
    <%= @test_passage.result_points %> % <br>
    <%= text(@test_passage) %>
  </b>
</p>
<p>
  <%= link_to t('links.tests'), tests_path %>
</p>
