    <header class="navbar navbar-inverse">
      <div class="container">
        <strong><%= link_to "Test Guru", root_path, id: "logo", class: "navbar-brand"%></strong>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   '#' %></li>
            <% if user_signed_in? %>
              <li><%= welcome_message(current_user) %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
            <% else %>
              <li><%= link_to 'Login', new_user_session_path %></li>
              <li><%= link_to 'Singup', new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
