<p>
  <h3><%= t('tests.index.title') %>:</h3>
  <%= @test.title %>
</p>

<p>
  <h3><%= t('tests.index.level') %></h3>
  <%= @test.level %>
</p>

<table>
  <tr>
    <h3><%= t('tests.index.questions') %> :</h3>
  </tr>
  <tr>
    <ol>
      <%= render partial: 'admin/questions/question', collection: @test.questions %>
    </ol></tr>
</table>
<%= link_to t('links.new_question'), new_admin_test_question_path(@test) %> <br>
<%= link_to t('links.back'), admin_tests_path %>

