<%= form_with model: @test, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :level %>
    <%= form.text_field :level %>
  </p>

  <p>
    <%= form.collection_select(:category_id, Category.all, :id, :title) %>
  </p>

  <p>
    <%= form.collection_select(:author_id, User.all, :id, :first_name) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
