<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.size %></td>

  <td><%= button_to t('links.start'), start_test_path(test), class: 'btn btn-primary' %></td>
</tr>
