<div class="row justify-content-center">
  <div class="col-12 col-md-8 user-tests-table">
    <h1><%= t('.header') %></h1>

    <table class="table table-hover">
      <thead class="thead-inverse">
        <tr class="sort-by-title pointer">
          <th>
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>
            </th>
          <th><%= t('.level') %></th>
          <th><%= t('.category') %></th>
          <th><%= t('.questions') %></th>
          <th><%= t('.actions') %></th>
        </tr>
      </thead>

    <tbody>
      <%= render @tests %>
    </tbody>
    </table>
  </div>
</div>
