<h1>Test details</h1>
<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <%= link_to("Вопросы", test_questions_path(@test)) %>
</p>

<%= link_to 'Редактирование', edit_test_path(@test) %>
<%= link_to 'Назад', tests_path %>
