<h1>Детали теста</h1>
<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<h3>Questions</h3>
<table>
  <%= render @test.questions %>
</table>

<%= form_with(model: [@test, @test.questions.build], local: true) do |form| %>
<h3><%= question_header(@test.questions.new) %></h3>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Редактирование', edit_test_path(@test) %>
<%= link_to 'Назад', tests_path %>
